@media only screen and (min-width: 470px) and (max-width: 699px) {
  .content{
      display: flex;
      flex-wrap: wrap;
  }

  .header__title {
    order: 1;
    padding: 26px 0 0 0 ;
    font-size: 2.3em;
  }

  .header__logo {
    order: 0;
    height: 60px;
  }

  .hero {
    order: 3;
  }

  .top-news{
    order: 4;
    width: 60%;
  }

  .weather {
    order: 5;
    width: 40%;
    float: right;
  }

  .scores {
    order: 6;
  }

  .recent-news {
    order: 7;
  }
}
