@media only screen and (min-width: 700px) {
  .header__title {
    padding: 26px 0 0 0 ;
    font-size: 3.4em;
  }

  .header_menu {
    height: 33px;
    padding: 36px 0 0 0;
    float: right;
  }

  .header__logo {
    height: 80px;
  }

  .nav__item {
    font-size: 1.2em;
  }

  .hero, .scores {
    width: 60%;
    display: inline-block;
  }

  .top-news, .weather {
    width: 40%;
    float: right;
  }

}
